@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Aldrich");
/*--- Variables ---*/
/*--- Mixins ---*/
/*--- Base Setting ---*/
html,
body {
  background-color: #2d3136;
  min-height: 1000px;
  overflow-x: hidden; }

[v-cloak] {
  display: none; }

* {
  position: relative;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box; }

h1.title {
  font-size: 42px;
  color: #ffffff;
  font-weight: 500;
  text-align: center;
  margin: 0;
  margin-top: 40px; }

h2 {
  font-size: 28px; }

h3.sub-title {
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  font-weight: 300;
  margin: 0;
  margin-top: 10px; }

a:hover,
a:focus,
a:visited {
  text-decoration: none; }

/*--- Credit Card ---*/
.credit-card-container {
  width: 428px;
  height: 270px;
  position: relative;
  perspective: 800px;
  margin: 0 auto;
  margin-top: 20px; }

.credit-card {
  width: 100%;
  height: 100%;
  background: #86aecc;
  background: -moz-radial-gradient(top, ellipse cover, #86aecc 0%, #364d5f 100%);
  background: -webkit-gradient(radial, top top, 0px, top top, 100%, color-stop(0%, #86aecc), color-stop(100%, #364d5f));
  background: -webkit-radial-gradient(top, ellipse cover, #86aecc 0%, #364d5f 100%);
  background: -o-radial-gradient(top, ellipse cover, #86aecc 0%, #364d5f 100%);
  background: -ms-radial-gradient(top, ellipse cover, #86aecc 0%, #364d5f 100%);
  background: radial-gradient(ellipse at top, #86aecc 0%, #364d5f 100%);
  border-radius: 20px;
  position: absolute;
  color: #ffffff;
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: margin-left 1s ease-in-out, transform 1s;
  -moz-transition: margin-left 1s ease-in-out, transform 1s;
  -ms-transition: margin-left 1s ease-in-out, transform 1s;
  -o-transition: margin-left 1s ease-in-out, transform 1s;
  transition: margin-left 1s ease-in-out, transform 1s; }
  .credit-card.data-send {
    margin-left: 1000px; }
  .credit-card * {
    font-family: 'Aldrich', sans-serif;
    text-shadow: 0 1px 10px -5px rgba(0, 0, 0, 0.5); }
  .credit-card figure {
    margin: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    background: #86aecc;
    background: -moz-radial-gradient(top, ellipse cover, #86aecc 0%, #364d5f 100%);
    background: -webkit-gradient(radial, top top, 0px, top top, 100%, color-stop(0%, #86aecc), color-stop(100%, #364d5f));
    background: -webkit-radial-gradient(top, ellipse cover, #86aecc 0%, #364d5f 100%);
    background: -o-radial-gradient(top, ellipse cover, #86aecc 0%, #364d5f 100%);
    background: -ms-radial-gradient(top, ellipse cover, #86aecc 0%, #364d5f 100%);
    background: radial-gradient(ellipse at top, #86aecc 0%, #364d5f 100%); }
    .credit-card figure:after {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border-radius: 20px;
      background: radial-gradient(ellipse at top, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
      opacity: 0;
      -webkit-transition: opacity 0.3s ease-in-out;
      -moz-transition: opacity 0.3s ease-in-out;
      -o-transition: opacity 0.3s ease-in-out;
      transition: opacity 0.3s ease-in-out; }
    .credit-card figure:hover:after {
      opacity: 1; }
  .credit-card .front {
    background-repeat: no-repeat;
    padding: 10px 25px;
    border-radius: 20px; }
  .credit-card.flipped {
    transform: rotateY(180deg); }
  .credit-card .bank-name {
    color: #ffffff;
    margin-top: 10; }
  .credit-card .emv-chip {
    width: 65px;
    height: 45px;
    background-color: Khaki;
    margin: 10px 0 10px 10px;
    border-radius: 10px; }
  .credit-card .credit-card-numbers {
    height: 30px;
    font-size: 26px;
    line-height: 30px;
    color: white;
    margin-top: 15px;
    text-align: left; }
    .credit-card .credit-card-numbers .numbers-group {
      display: inline-block;
      margin-left: 0;
      margin-right: 10px;
      top: 0;
      line-height: 30px;
      width: 77px;
      font-size: 26px;
      height: 30px;
      text-align: left; }
      .credit-card .credit-card-numbers .numbers-group:after {
        position: absolute;
        width: 8px;
        height: 4px;
        background-color: #fff;
        content: "";
        right: -12px;
        top: 10px; }
      .credit-card .credit-card-numbers .numbers-group:nth-child(4) {
        margin-right: 0px; }
        .credit-card .credit-card-numbers .numbers-group:nth-child(4):after {
          display: none; }
  .credit-card .expired {
    color: white;
    margin-top: 10px;
    margin-left: 150px;
    width: 100px; }
    .credit-card .expired p {
      margin: 0; }
  .credit-card .client-fullname {
    display: block;
    font-size: 20px;
    margin-left: 0px;
    text-transform: uppercase; }
  .credit-card .credit-card-logo {
    width: 100px;
    height: 70px;
    position: absolute;
    right: 25px;
    bottom: 25px; }
  .credit-card .credit-card-logo:after {
    width: 100%;
    height: 100%;
    position: absolute;
    content: "";
    opacity: 0;
    background-size: 100% auto;
    background-repeat: no-repeat;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out; }
  .credit-card .credit-card-logo.visa:after,
  .credit-card .credit-card-logo.master:after,
  .credit-card .credit-card-logo.american-express:after,
  .credit-card .credit-card-logo.jcb:after {
    opacity: 1;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out; }
  .credit-card .credit-card-logo.visa:after {
    background-image: url(../img/visa.jpg); }
  .credit-card .credit-card-logo.master:after {
    background-image: url(../img/master.jpg); }
  .credit-card .credit-card-logo.american-express:after {
    background-image: url(../img/americanExpress.jpg); }
  .credit-card .credit-card-logo.jcb:after {
    background-image: url(../img/jcb.jpg); }
  .credit-card .back {
    padding: 10px 30px;
    border-radius: 20px;
    transform: rotateY(180deg); }
    .credit-card .back .magnetic-stripe {
      position: absolute;
      width: 100%;
      height: 60px;
      left: 0;
      top: 40px;
      background-color: #1d1d1d; }
    .credit-card .back .sign-up-box {
      margin-top: 100px;
      width: 180px;
      height: 50px;
      background-color: rgba(255, 255, 255, 0.5);
      display: inline-block;
      float: left; }
    .credit-card .back .cvc-box {
      margin-top: 100px;
      width: 100px;
      height: 50px;
      color: #537188;
      background-color: #fff;
      display: inline-block;
      float: left;
      padding-left: 10px;
      padding-top: 3px; }
      .credit-card .back .cvc-box h3,
      .credit-card .back .cvc-box p {
        margin: 0; }

.data-table {
  width: 428px;
  height: 270px;
  background-color: #ffffff;
  border-radius: 20px;
  color: #364d5f;
  padding: 20px 20px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: none; }

section.user-input {
  margin-top: 15px; }
  section.user-input label {
    color: white;
    margin: 4px 0;
    font-weight: 300; }
  section.user-input button#sendCreditCardData {
    margin-top: 20px; }

footer {
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 0;
  background-color: #16181a; }
  footer p.copyright {
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    font-weight: 300;
    margin: 0;
    margin-top: 20px; }

/*# sourceMappingURL=style.css.map */
